input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    margin-top: 0.25rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: 500;
}

.form button {
    background-color: #2d89ef;
    color: white;
    padding: 0.75rem;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.form button:hover {
    background-color: #2563eb;
}
